{# src/First/PageBundle/Resources/Resources/views/FirstPage/index.html.twig #}
{% extends '::base.html.twig' %}

{% block main_menu %}
	Block main menu
{% endblock %} 

{% block main_welcome %}
{% if error %}
    <div>{{ error.message }}</div></br>
	<div> Неверные учетные данные</div></br>
{% endif %}

<form action="{{ path('login') }}" method="post">
    <label for="Имя">Username:</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" />

    <label for="Пароль">Password:</label>
    <input type="password" id="password" name="_password" />

    {#переходим по маршруту администратора#}
    <input type="hidden" name="_target_path" value="admin"/>

    <input type="submit" name="login" />
</form>{% endblock %} 

